@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* .okay {
    background-image: url("../public/heroe.svg");
  } */
  /*Hero Mask*/
  .el {
    /* width: 400px; */
    height: 400px;
    /* background-image: url("./truck.jpg"); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    mask-image: url("../public/mypath.svg");
    -webkit-mask-image: url("../public/mypath.svg");
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center center;
  }
  .els {
    background-image: url("../public/mypathline.svg");
    width: 600px;
    height: 400px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  /* Pulse */

  .pulse {
    height: 30px;
    width: 30px;
    margin-left: 25px;
    background-color: #4900ee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .pulse:before {
    content: "";
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border-radius: 50%;
    border: 1px solid #4900ee;

    animation: animate 1.5s linear infinite;
  }
  .pulse:after {
    content: "";
    position: absolute;

    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border-radius: 50%;
    border: 2px solid #4900ee;
    animation: animate 1.5s linear infinite;
    animation-delay: 0.4s;
  }
  .pulsedark {
    height: 30px;
    width: 30px;
    margin-left: 25px;
    background-color: #ffffff;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .pulsedark:before {
    content: "";
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border-radius: 50%;
    border: 1px solid #ffffff;
    animation: animate 1.5s linear infinite;
  }
  .pulsedark:after {
    content: "";
    position: absolute;

    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border-radius: 50%;
    border: 2px solid #ffffff;
    animation: animate 1.5s linear infinite;
    animation-delay: 0.4s;
  }
  /* Phone */

  @keyframes animate {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    50% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(1.4);
      opacity: 0;
    }
  }

  @media (max-width: 600px) {
    .el {
      height: 300px;
    }
  }
  @media (max-width: 470px) {
    .el {
      height: 250px;
    }
  }
  @media (max-width: 395px) {
    .el {
      height: 220px;
    }
  }
  @media (max-width: 365px) {
    .el {
      height: 200px;
    }
  }
}
